# Greenplum Demo (Part 2)

### This is Part 2 of Greenplum Demo. If you missed Part 1 or wish to repeat, then click [here](GP-demo-1.ipynb).

In [1]:
import os, re
from IPython.display import display_html

CONNECTION_STRING = os.getenv('GPDBCONN')

cs = re.match('^postgresql:\/\/(\S+):(\S+)@(\S+):(\S+)\/(\S+)$', CONNECTION_STRING)

DB_USER   = cs.group(1)
DB_PWD    = cs.group(2)
DB_SERVER = cs.group(3)
DB_PORT   = cs.group(4)
DB_NAME   = cs.group(5)

In [2]:
%reload_ext sql
%sql $CONNECTION_STRING

u'Connected: gpadmin@gpadmin'

## Step 4. Familiarize yourself with the newly loaded data table

### 1. DESCRIBE *demo.amzn_reviews* table using psql utility (`\d <table name>`)

In [61]:
!cat script/4-1-psql-describe-amzn-reviews.sql

\d demo.amzn_reviews

In [62]:
psql_out = !cat script/4-1-psql-describe-amzn-reviews.sql | psql -H $CONNECTION_STRING
display_html(''.join(psql_out), raw=True)

Column,Type,Collation,Nullable,Default
marketplace,text,,,
customer_id,bigint,,,
review_id,text,,,
product_id,text,,,
product_parent,bigint,,,
product_title,text,,,
product_category,text,,,
star_rating,integer,,,
helpful_votes,integer,,,
total_votes,integer,,,
vine,text,,,
verified_purchase,text,,,
review_headline,text,,,
review_body,text,,,
review_date,date,,,

### 2. DESCRIBE *demo.amzn_reviews* table using `information_schema` catalog table.

In [63]:
!cat script/4-2-gp-describe-amzn-reviews.sql

SELECT *
FROM information_schema.COLUMNS
WHERE TABLE_NAME = 'amzn_reviews';

In [64]:
query = !cat script/4-2-gp-describe-amzn-reviews.sql
%sql $DB_USER@$DB_SERVER {''.join(query)}

15 rows affected.

[(u'gpadmin', u'demo', u'amzn_reviews', u'product_parent', 5, None, u'YES', u'bigint', None, None, 64, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'int8', None, None, None, None, u'5', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES'),
 (u'gpadmin', u'demo', u'amzn_reviews', u'customer_id', 2, None, u'YES', u'bigint', None, None, 64, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'int8', None, None, None, None, u'2', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES'),
 (u'gpadmin', u'demo', u'amzn_reviews', u'total_votes', 10, None, u'YES', u'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'int4', None, None, None, None, u'10', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES'),
 (u'gpadmin', u'demo', u'amzn_reviews', u'helpful_votes', 9, None, u'YES', u'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'int4', None, None, None, None, u'9', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES'),
 (u'gpadmin', u'demo', u'amzn_reviews', u'star_rating', 8, None, u'YES', u'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'int4', None, None, None, None, u'8', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES'),
 (u'gpadmin', u'demo', u'amzn_reviews', u'review_body', 14, None, u'YES', u'text', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'text', None, None, None, None, u'14', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES'),
 (u'gpadmin', u'demo', u'amzn_reviews', u'review_headline', 13, None, u'YES', u'text', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'text', None, None, None, None, u'13', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES'),
 (u'gpadmin', u'demo', u'amzn_reviews', u'verified_purchase', 12, None, u'YES', u'text', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'text', None, None, None, None, u'12', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES'),
 (u'gpadmin', u'demo', u'amzn_reviews', u'vine', 11, None, u'YES', u'text', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'text', None, None, None, None, u'11', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES'),
 (u'gpadmin', u'demo', u'amzn_reviews', u'product_category', 7, None, u'YES', u'text', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'text', None, None, None, None, u'7', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES'),
 (u'gpadmin', u'demo', u'amzn_reviews', u'product_title', 6, None, u'YES', u'text', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'text', None, None, None, None, u'6', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES'),
 (u'gpadmin', u'demo', u'amzn_reviews', u'product_id', 4, None, u'YES', u'text', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'text', None, None, None, None, u'4', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES'),
 (u'gpadmin', u'demo', u'amzn_reviews', u'review_id', 3, None, u'YES', u'text', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'text', None, None, None, None, u'3', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES'),
 (u'gpadmin', u'demo', u'amzn_reviews', u'marketplace', 1, None, u'YES', u'text', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'text', None, None, None, None, u'1', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES'),
 (u'gpadmin', u'demo', u'amzn_reviews', u'review_date', 15, None, u'YES', u'date', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, u'gpadmin', u'pg_catalog', u'date', None, None, None, None, u'15', u'NO', u'NO', None, None, None, None, None, None, u'NEVER', None, u'YES')]

### 3. Retrieve a sample of the demo.amzn_reviews table data (10 rows).

In [65]:
!cat script/4-3-select-sample-amzn-reviews.sql

SELECT *
FROM demo.amzn_reviews
ORDER BY RANDOM()
LIMIT 10;

In [ ]:
query = !cat script/4-3-select-sample-amzn-reviews.sql
%sql $DB_USER@$DB_SERVER {''.join(query)}

### 4. Show *demo.amzn_reviews* table data distribution across segments:

In [26]:
!cat script/4-4-data-distrib-amzn-reviews.sql

SELECT gp_segment_id,
  count(*)
FROM
  demo.amzn_reviews
GROUP BY 1
ORDER BY 1;

In [28]:
query = !cat script/4-4-data-distrib-amzn-reviews.sql
%sql $DB_USER@$DB_SERVER {''.join(query)}

2 rows affected.

[(0, 1726796L), (1, 1726368L)]

### 5. Check *demo.amzn_reviews* table object size and disk space

### 5.1. Using PostgreSQL System Administration Functions (PG 8.4)

In [76]:
!cat script/4-5-1-object-size-and-disk-space.sql

SELECT 'demo' AS schemaname, 'amzn_reviews' AS tablename, pg_size_pretty(pg_relation_size('demo.amzn_reviews')) AS size, 'Disk space used by the table or index.' AS level
UNION ALL
SELECT 'demo' AS schemaname, 'amzn_reviews' AS tablename, pg_size_pretty(pg_total_relation_size('demo.amzn_reviews')) AS size, 'Total disk space used by the table, including indexes and toasted data.' AS level;

In [77]:
query = !cat script/4-5-1-object-size-and-disk-space.sql
%sql $DB_USER@$DB_SERVER {''.join(query)}

2 rows affected.

[(u'demo', u'amzn_reviews', u'1872 MB', u'Disk space used by the table or index.'),
 (u'demo', u'amzn_reviews', u'1875 MB', u'Total disk space used by the table, including indexes and toasted data.')]

In [78]:
!cat script/4-5-2-object-size-and-disk-space.sql

SELECT gp_size_of_table_disk.schemaname,
	gp_size_of_table_disk.tablename,
	tabledisksize,
	uncompressedsize,
	tablesize,
	indexsize,
	toastsize,
	othersize
FROM (
	SELECT sotd.sotdoid as oid,
		sotd.sotdschemaname as schemaname,
		sotd.sotdtablename as tablename,
		pg_size_pretty(sotd.sotdsize::BIGINT) as tablesize,
		pg_size_pretty(sotd.sotdtoastsize::BIGINT) as toastsize,
		pg_size_pretty(sotd.sotdadditionalsize::BIGINT) as othersize
	FROM
		gp_toolkit.gp_size_of_table_disk as sotd
	WHERE
		sotd.sotdschemaname || '.' || sotd.sotdtablename = 'demo.amzn_reviews') gp_size_of_table_disk, (
	SELECT sotaid.sotaidoid as oid,
		sotaid.sotaidschemaname as schemaname,
		sotaid.sotaidtablename as tablename,
		pg_size_pretty(sotaid.sotaidtablesize::BIGINT) as tabledisksize,
		pg_size_pretty(sotaid.sotaididxsize::BIGINT) as indexsize
	FROM
		gp_toolkit.gp_size_of_table_and_indexes_disk as sotaid
	WHERE
		sotaid.sotaidschemaname || '.' || sotaid.sotaidtablename = 'demo.amzn_reviews') gp_size_of_table_and_indexes_disk, (
	SELECT sotu.sotuoid as oid,
		sotu.sotuschemaname as schemaname,
		sotu.sotutablename as tablename,
		pg_size_pretty(sotu.sotusize::BIGINT) as uncompressedsize
	FROM
		gp_toolkit.gp_size_of_table_uncompressed as sotu
	WHERE
		sotu.sotuschemaname || '.' || sotu.sotutablename = 'demo.amzn_reviews') gp_size_of_table_uncompressed
WHERE
	gp_size_of_table_disk.oid = gp_size_of_table_and_indexes_disk.oid
	AND gp_size_of_table_and_indexes_disk.oid = gp_size_of_table_uncompressed.oid;

In [79]:
query = !cat script/4-5-2-object-size-and-disk-space.sql
%sql $DB_USER@$DB_SERVER {''.join(query)}

1 rows affected.

[(u'demo', u'amzn_reviews', u'1875 MB', u'1875 MB', u'1872 MB', u'0 bytes', u'3776 kB', u'0 bytes')]

### 6. Check table for Data Skew
Data skew may be caused by uneven data distribution due to the wrong choice of distribution keys or single tuple table insert or copy operations. Present at the table level, data skew, is often the root cause of poor query performance and out of memory conditions. Skewed data affects scan (read) performance, but it also affects all other query execution operations, for instance, joins and group by operations.

It is very important to *validate* distributions to ensure that data is evenly distributed after the initial load. It is equally important to *continue* to validate distributions after incremental loads.

The following query shows the number of rows per segment as well as the variance from the minimum and maximum numbers of rows:

In [83]:
!cat script/4-6-1-data-skew.sql

SELECT
	'Example Table' AS "Table Name",
	max(c) AS "Max Seg Rows", min(c) AS "Min Seg Rows",
	(max(c)-min(c))*100.0/max(c) AS "Percentage Difference Between Max & Min"
FROM (
	SELECT
		count(*) c,
		gp_segment_id
	FROM
		demo.amzn_reviews
	GROUP BY 2
) AS a;

In [84]:
query = !cat script/4-6-1-data-skew.sql
%sql $DB_USER@$DB_SERVER {''.join(query)}

1 rows affected.

[('Example Table', 1726796L, 1726368L, Decimal('0.02478578824597694227'))]

The `gp_toolkit` schema has two views that you can use to check for skew.
- The `gp_toolkit.gp_skew_coefficients` view shows data distribution skew by calculating the coefficient of variation (CV) for the data stored on each segment. The `skccoeff` column shows the coefficient of variation (CV), which is calculated as the standard deviation divided by the average. It takes into account both the average and variability around the average of a data series. The lower the value, the better. Higher values indicate greater data skew.

In [89]:
!cat script/4-6-2-data-skew.sql

SELECT
	skcc.skcnamespace as schemaname,
	skcc.skcrelname as tablename,
	skcc.skccoeff as coefficient
FROM
	gp_toolkit.gp_skew_coefficients skcc
WHERE
	skcc.skcnamespace || '.' || skcc.skcrelname = 'demo.amzn_reviews';

In [90]:
query = !cat script/4-6-2-data-skew.sql
%sql $DB_USER@$DB_SERVER {''.join(query)}

1 rows affected.

[(u'demo', u'amzn_reviews', Decimal('0.017528371218270664000'))]

- The `gp_toolkit.gp_skew_idle_fractions` view shows data distribution skew by calculating the percentage of the system that is idle during a table scan, which is an indicator of computational skew. The `siffraction` column shows the percentage of the system that is idle during a table scan. This is an indicator of uneven data distribution or query processing skew. For example, a value of 0.1 indicates 10% skew, a value of 0.5 indicates 50% skew, and so on. Tables that have more than10% skew should have their distribution policies evaluated.

In [92]:
!cat script/4-6-3-data-skew.sql

SELECT
	sif.sifnamespace as schemaname,
	sif.sifrelname as tablename,
	sif.siffraction as fraction
FROM
	gp_toolkit.gp_skew_idle_fractions sif
WHERE
	sif.sifnamespace || '.' || sif.sifrelname = 'demo.amzn_reviews'

In [93]:
query = !cat script/4-6-3-data-skew.sql
%sql $DB_USER@$DB_SERVER {''.join(query)}

1 rows affected.

[(u'demo', u'amzn_reviews', Decimal('0.00012392894122988471'))]

## Step 5. Partitioning

### 1. Create a new copy of the original table, define a *PARTITION* pattern (by month) and load it.

In [ ]:
%%sql 

CREATE TABLE demo.amzn_reviews_v2(
  marketplace TEXT, 
  customer_id BIGINT, 
  review_id TEXT, 
  product_id TEXT, 
  product_parent BIGINT, 
  product_title TEXT, 
  product_category TEXT, 
  star_rating INTEGER, 
  helpful_votes INTEGER, 
  total_votes INTEGER, 
  vine TEXT, 
  verified_purchase TEXT, 
  review_headline TEXT, 
  review_body TEXT, 
  review_date DATE)
DISTRIBUTED BY (review_id)
PARTITION BY RANGE(review_date) 
(
    START ('1998-07-01'::date) END ('2015-09-01'::date)
    EVERY ('1 month'::interval)
);

INSERT INTO demo.amzn_reviews_v2
SELECT * FROM demo.amzn_reviews;

### 2. Show row count per partition for the new table.

In [ ]:
%%sql
SELECT tableoid::regclass, count(*) FROM demo.amzn_reviews_v2 GROUP BY 1 ORDER BY 1;

### 3. Demonstrate *Partition Elimination* functionality

In [ ]:
!psql -d gpadmin -U gpadmin -h 10.0.2.15 -f './scripts/explain_example_1_1.sql'

In [ ]:
psql_out = !psql -H -d gpadmin -U gpadmin -h 10.0.2.15 -f './scripts/example_1_2.sql'

display_html(''.join(psql_out), raw=True)

In [ ]:
%%sql
EXPLAIN
SELECT COUNT(*)
    , date_part('year', review_date::DATE) AS YEAR_NUM
    , date_part('month', review_date::DATE) AS MONTH_NUM
FROM demo.amzn_reviews_v2
GROUP BY 2, 3
ORDER BY 2, 3;

## Step 4. Compression

## Populate the three tables:
- Load heap table with gpload (gpload_h.yaml):

```yaml
VERSION: 1.0.0.1
GPLOAD:
   INPUT:
    - SOURCE:
         FILE:
           - /home/gpadmin/data/crimes_all.txt
    - FORMAT: text
    - DELIMITER: '|'
    - LOG_ERRORS: true
    - ERROR_LIMIT: 50000
   OUTPUT:
    - TABLE: demo.fact_crimes_heap
    - MODE: insert
   PRELOAD:
    - TRUNCATE: true
    - REUSE_TABLES: true
```

In [ ]:
%%sql

DROP TABLE IF EXISTS demo.fact_crimes_heap;

CREATE TABLE demo.fact_crimes_heap
(
  id INT
  , case_number VARCHAR (20)
  , crime_date TIMESTAMP
  , block VARCHAR(50)
  , IUCR VARCHAR(10)
  , primary_type VARCHAR(50)
  , description VARCHAR(75)
  , location_desc VARCHAR (75)
  , arrest VARCHAR(5)
  , domestic VARCHAR(5)
  , beat VARCHAR(7)
  , district VARCHAR(7)
  , ward SMALLINT
  , community_area VARCHAR(10)
  , fbi_code VARCHAR(5)
  , x_coord FLOAT
  , y_coord FLOAT
  , crime_year SMALLINT
  , record_update_date TIMESTAMP
  , latitude FLOAT
  , longitude FLOAT
  , location VARCHAR (60),
  historical int null,
  zipcode int null,
  community int null, 
  census int null,
  wards int null,
  boundaries int null, 
  policedistrict int null, 
  policebeats int null	)
distributed by (id);

DROP TABLE IF EXISTS demo.fact_crimes_row_comp;

CREATE TABLE demo.fact_crimes_row_comp
(
  id INT
  , case_number VARCHAR (20)
  , crime_date TIMESTAMP
  , block VARCHAR(50)
  , IUCR VARCHAR(10)
  , primary_type VARCHAR(50)
  , description VARCHAR(75)
  , location_desc VARCHAR (75)
  , arrest VARCHAR(5)
  , domestic VARCHAR(5)
  , beat VARCHAR(7)
  , district VARCHAR(7)
  , ward SMALLINT
  , community_area VARCHAR(10)
  , fbi_code VARCHAR(5)
  , x_coord FLOAT
  , y_coord FLOAT
  , crime_year SMALLINT
  , record_update_date TIMESTAMP
  , latitude FLOAT
  , longitude FLOAT
  , location VARCHAR (60),
  historical int null,
  zipcode int null,
  community int null, 
  census int null,
  wards int null,
  boundaries int null, 
  policedistrict int null, 
  policebeats int null	)
WITH (appendonly=true, orientation=row, compresstype=zlib, compresslevel=3)
distributed by (id);


DROP TABLE IF EXISTS demo.fact_crimes_col_comp;

CREATE TABLE demo.fact_crimes_col_comp
(
  id INT
  , case_number VARCHAR (20)
  , crime_date TIMESTAMP
  , block VARCHAR(50)
  , IUCR VARCHAR(10)
  , primary_type VARCHAR(50)
  , description VARCHAR(75)
  , location_desc VARCHAR (75)
  , arrest VARCHAR(5)
  , domestic VARCHAR(5)
  , beat VARCHAR(7)
  , district VARCHAR(7)
  , ward SMALLINT
  , community_area VARCHAR(10)
  , fbi_code VARCHAR(5)
  , x_coord FLOAT
  , y_coord FLOAT
  , crime_year SMALLINT
  , record_update_date TIMESTAMP
  , latitude FLOAT
  , longitude FLOAT
  , location VARCHAR (60),
  historical int null,
  zipcode int null,
  community int null, 
  census int null,
  wards int null,
  boundaries int null, 
  policedistrict int null, 
  policebeats int null	)
WITH (appendonly=true, orientation=column, compresstype=zlib, compresslevel=3)
distributed by (id);

In [ ]:
!ssh -i /root/gpdb-gcp.key gpadmin@13.64.71.99 'gpload -d gpadmin -f /home/gpadmin/gpload_h.yaml > /home/gpadmin/gpload_h.log 2>&1'

**Note:** Heap table loaded data from the same source file in <33 seconds (heap vs compressed table loading has different performance)

- Load **demo.fact_row_comp** table with data from the **heap** table above, and check timing

In [ ]:
%%sql
DELETE FROM demo.fact_crimes_row_comp;

`INSERT INTO demo.fact_crimes_row_comp SELECT * FROM demo.fact_crimes;`

In [ ]:
!ssh -i /root/gpdb-gcp.key gpadmin@13.64.71.99 'psql postgresql://gpadmin:z3huyg3gyfll2@13.64.71.99:5432/gpadmin -f insert_into_row_comp.sql '

- Load **demo.fact_col_comp** table with data from the **heap** table above, and check timing

In [ ]:
%%sql
DELETE FROM demo.fact_crimes_col_comp;

`INSERT INTO demo.fact_crimes_col_comp SELECT * FROM demo.fact_crimes;`

In [ ]:
!ssh -i /root/gpdb-gcp.key gpadmin@13.64.71.99 'psql postgresql://gpadmin:z3huyg3gyfll2@13.64.71.99:5432/gpadmin -f insert_into_col_comp.sql '

## Check the size of each of the three tables:

In [ ]:
%%sql
SELECT pg_size_pretty(pg_relation_size('demo.fact_crimes_heap'))::TEXT, 'demo.fact_crimes_heap' AS TABLENAME
UNION
SELECT pg_size_pretty(pg_relation_size('demo.fact_crimes_row_comp'))::TEXT AS TABLESIZE, 'demo.fact_crimes_row_comp' AS TABLENAME
UNION ALL
SELECT pg_size_pretty(pg_relation_size('demo.fact_crimes_col_comp')) AS TABLESIZE, 'demo.fact_crimes_col_comp' AS TABLENAME;

**Notes:** 
- Heap table has no compression. It is best for staging tables or when frequent updates/ deletes are needed.
- Row oriented has the best compression. It is best for frequent inserts and `SELECT`'s on all/ most of the columns.
- Column oriented also has better compression than the heap table but not from the row-oriented table. It is best for static partitions/ tables and `SELECT`'s on fewer columns.

In [ ]:
# Step 4. EXPLAIN plans, & Statistics

In [ ]:
%%sql
EXPLAIN SELECT location_desc
	, count(case_number)
FROM
	demo.fact_crimes
WHERE
	crime_date >= '2014-01-01'
	AND crime_date <= '2014-12-31'
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;

In [ ]:
!ssh -i /root/gpdb-gcp.key gpadmin@13.64.71.99 'psql postgresql://gpadmin:z3huyg3gyfll2@13.64.71.99:5432/gpadmin -f explain_select.sql'

**Notes:**
- Copy `EXPLAIN` plan created above and paste it in : http://planchecker.cfapps.io/
- Planchecker app will provide recommendation(s) about collecting statistics. Highlight this as a recommendation that database provides for optimizations.
- Use the `ANALYZE` utility to collect statistics for optimizer, missing or stale statistics; all the above can generate bad plans.
- Use the `ANALYZEDB` utility and scheduled it to run frequently i.e. everyday, to collect statistics on changed tables/ partitions only since last run. 
- The same utility can also be easily stopped and resumed. 
- There is no need for DBA to explicitly look for different stats collection policies for different types of tables/ partitions.

In [ ]:
!ssh -i /root/gpdb-gcp.key gpadmin@13.64.71.99 'psql postgresql://gpadmin:z3huyg3gyfll2@13.64.71.99:5432/gpadmin -c "analyze demo.fact_crimes"'

In [ ]:
!ssh -i /root/gpdb-gcp.key gpadmin@13.64.71.99 'psql postgresql://gpadmin:z3huyg3gyfll2@13.64.71.99:5432/gpadmin -f explain_select.sql'